@background:              #F9B256;
@color:                   lighten(@background, 33%);
@medium-contrasted-color: lighten(@background, 20%);

@input-background:        @color;
@input-color:             @background;

@input-background-error:  mix(@input-background, red, 85%);
@input-color-error:       mix(@input-color, red, 85%);
@link-color-error:        mix(@input-background, red, 85%);