article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?96516054');
  src: url('../fonts/fontello.eot?96516054#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?96516054') format('woff'), url('../fonts/fontello.ttf?96516054') format('truetype'), url('../fonts/fontello.svg?96516054#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49965045#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-down-open:before {
  content: '\e802';
}
/* '' */
.icon-up-open:before {
  content: '\e803';
}
/* '' */
.icon-male:before {
  content: '\e800';
}
/* '' */
.icon-female:before {
  content: '\e801';
}
/* '' */
/* ie7 */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  /* fix buttons height */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
.icon-down-open {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;');
}
.icon-up-open {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;');
}
.icon-male {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;');
}
.icon-female {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;');
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf.woff') format('truetype'), url('../fonts/SourceSansPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "sourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #c06c84;
  color: #f6e9ed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  color: #f6e9ed;
  text-decoration: none;
  transition: color 0.4s ease-out;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  padding: 0 15px;
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.table-center {
  display: table;
  margin: auto;
}
.cell {
  display: table-cell;
}
.space {
  margin: 1em 0;
}
.text-large {
  font-size: 1.5em;
  margin-bottom: 0.34em;
}
.text-xlarge {
  font-size: 3em;
}
.text-uppercase {
  text-transform: uppercase;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.display-small {
  display: none;
}
.vertical-align-middle {
  vertical-align: middle;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.4s ease-out;
}
input[type="radio"]:checked + label,
input[type="radio"] + label:hover {
  opacity: 1;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
  border: none;
  background-color: #f6e9ed;
  color: #c06c84;
  border-radius: 4px;
  text-align: center;
  width: 1.5em;
  height: 1em;
  padding: 15px;
  margin: 0px 15px;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
div.ng-invalid input {
  background-color: #f8afb1;
  color: #d05163;
}
div.ng-invalid a {
  color: #f8afb1;
}
.medium-contrast {
  color: #dfb3c0;
}
@media screen and (max-width: 480px) {
  .hidden-small {
    display: none;
  }
  .display-small {
    display: inherit;
  }
}
